body {
    background: conic-gradient(at 125% 50%, #b78cf7, #ff7c94, #ffcf0d, #ff7c94, #b78cf7);
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container {
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate {
    border: 6px solid whitegray;
    border-radius: 5px;
    background: whitesmoke;
    margin: auto;
    width: 400px;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 100;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.calculate input {
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.calculate button {
    width: 10%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    cursor: pointer;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.calculate button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#quality {
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}

#tip-amount {
    visibility: hidden;
    min-width: 250px;
    margin: auto;
    background-color: limegreen;
    bottom: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
}

#tip-amount.show {
    visibility: visible;
    -webkit-animation: fadein 0.8s, fadeout 0.8s 2.8s;
    animation: fadein 0.8s, fadeout 0.8s 2.8s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 2;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 2;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 2;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 2;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}